<footer>
    <div class="footer-left">
        <span> Marco </span>
        <a class="hide" routerLink="/imprint"> Impressum</a>
        <a class="hide" routerLink="/data-protection"> Data-Protection</a>

    </div>

    <div class="footer-middle">
        ©️ Marco Will 2023
    </div>

    <div class="footer-right">
       <a href="https://github.com/Marco-Will" target="_blank"> <img src="assets/img/icons/git-footer.png" alt=""></a>
       <a href="mailto:marco-will-dev@outlook.com"> <img src="assets/img/icons/mail.png" alt=""></a>
       <a href="https://www.linkedin.com/in/marco-will-06b857260/" target="_blank"> <img src="assets/img/icons/linkd.png" alt=""></a>
    </div>

    <a class="responsive-imprint hide-min" routerLink="/imprint"> Impressum</a>
    <a class="responsive-imprint hide-min" routerLink="/data-protection"> Data-Protection</a>

</footer>
