<footer>
    <div class="footer-left">
        <span> Marco </span>
        <a href=""> Impressum</a>
    </div>

    <div class="footer-middle">
        ©️ Marco Will 2022
    </div>

    <div class="footer-right">
       <a href="https://github.com/Marco-Will" target="_blank"> <img src="../../assets/img/icons/git-footer.png" alt=""></a>
       <a href="mailto:birdscur@outlook.de"> <img src="../../assets/img/icons/mail.png" alt=""></a>
       <a href=""> <img src="../../assets/img/icons/linkd.png" alt=""></a>
    </div>
</footer>
