.aboutme-container
{
    
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    font-family: Poppins-M;
    display: flex;
    align-items: center;
    
    
    

    h1 
    {
        font-size: 5rem;
    }

    .text-section
    {
        padding-left:10%;
        width: 50%;
        margin-bottom: 100px;
        color: white;
        padding-right: 20%;
    }

    .info
    {
        display: flex;
        margin-top: 3rem;
        font-size: 1rem;

        
        
            .icon-lamp
            {
                object-fit: contain;
                height: 2.5rem;
                
                padding-right: 13%;
                
                align-self: center;
                transition: 0.2s ease-in-out;
    
                 &:hover
                {
                    transform: scale(1.4);
                    transition: 0.2s ease-in-out;
                    filter: invert(1);
                }
            }

            .icon-puzzle
            {
                object-fit: contain;
                height: 2.5rem;
                
                padding-right: 11%;
                
                align-self: center;
                transition: 0.2s ease-in-out;
    
                 &:hover
                {
                    transform: scale(1.4);
                    transition: 0.2s ease-in-out;
                    filter: invert(1);
                }
            }
            
        
    }
    

    .picture-section 
    {
        
        
        position: relative;
        background-image: url('/assets/img/bg/photo shadows.png');
        background-position: left;
        width: 50%;
        height: 100vh;
        background-size: 80%;
        background-repeat: no-repeat;
        



        img 
        {   
            object-fit: contain;
            height: 70%;
            width:70%;
            position: absolute;
            top: 15%;
            left: 5%;
            z-index: 1;
        }
    }

    


}