<div class="aboutme-container">

    <div data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine" class="text-section">

        <span class="h1"> About me</span>

        <span class="info">Hi, I am a passionate Front-end developer based in Pasewalk, Germany. I enjoy solving problems and
            bring complex ideas into real life. I am
            looking forward to continuing my developer
            carrer with a job in a junior web developer
            position.<!-- Let's get in touch to realise great projects
            in the future! -->
        </span>

        <div class="info">
            <img class="icon-lamp" id="info_icon_lamp" src="assets/img/icons/lamp_green.png" alt="">
            <span>I have completed a professional training as a frontend developer. In this training, 
                I acquired comprehensive knowledge and skills in the field of frontend development, such as working with HTML, CSS, JavaScript and Angular. 
                I am able to develop and design modern and user-friendly web applications. </span>
        </div>

        <div class="info">
            <img class="icon-puzzle" onmouseover="changeIcon()" id="info_icon_puzzle" src="assets/img/icons/puzzle_green.png" alt="">
            <span>I am a proactive and adaptable learner who is always looking for new challenges and opportunities to grow.
                And my goal is to develop myself in order to expand the skills that are really needed.
                I want to be an integral part of a team.</span>
        </div>
    </div>

    <div data-aos="flip-left"
         data-aos-easing="ease-out-cubic"
         data-aos-duration="2000" class="picture-section">

        
        <img src="assets/img/profile.png" alt="">
        
    </div>

     

</div>

