<div class="aboutme-container">

    <div data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine" class="text-section">

        <h1>About me</h1>

        <span [(ngModel)]="test" class="info">Hi, I am a Front-end deverloper based in Pasewalk, Germany(....)Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut auctor sem non tempus convallis. Integer et justo vitae urna finibus eleifend sit amet porttitor sapien. Donec sollicitudin massa vel lorem vestibulum efficitur.
        </span>

        <div class="info">
            <img class="icon-lamp" id="info_icon_lamp" src="assets/img/icons/lamp_green.png" alt="">
            <span>Some personal thing to share(...) Donec ut imperdiet diam, et convallis neque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</span>
        </div>

        <div class="info">
            <img class="icon-puzzle" onmouseover="changeIcon()" id="info_icon_puzzle" src="assets/img/icons/puzzle_green.png" alt="">
            <span>Some personal thing to share(...) Donec ut imperdiet diam, et convallis neque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</span>
        </div>
    </div>

    <div data-aos="flip-left"
         data-aos-easing="ease-out-cubic"
         data-aos-duration="2000" class="picture-section">

        
        <img src="assets/img/profile.png" alt="">
        
    </div>

     

</div>

