<header [ngClass]="{'hideMenu': animate}"  ><!-- [class]="hideMenu" -->
    <div class="content">
        <!-- <span routerLink="/" onclick="location.href='#my-start-site'">Marco</span> -->
       <a class="icon" href="#my-start-site"> <img src="assets/img/icons/mw-fav.png" alt=""></a>
        <div (click)="openMenu()" class="nav-container">
            <input type="checkbox" [checked]="menuOpen">
            <div>
                <span class="line line1"></span>
                <span class="line line2"></span>
                <span class="line line3"></span>
            </div>
        </div>
        <div    class="menu" [class.responsive]="menuOpen"  >
            <a  (click)="toggleFadeMenu()"   [style.color]="color3" [class.active-home]="activeHome" routerLink="/#my-start-site"       onclick="location.href='#my-start-site'"    (click)="closeMenu()">Home</a>
            <a  (click)="toggleFadeMenu()"   [style.color]="color"  [class.active-about]="activeAboutMe" routerLink="/#about-me"        onclick="location.href='#about-me'"         (click)="closeMenu('about')">About</a>
            <a  (click)="toggleFadeMenu()"   [style.color]="color2" [class.active-about]="activeSkills" routerLink="/#my-skills"        onclick="location.href='#my-skills'"        (click)="closeMenu('skills')">Skills</a>
            <a  (click)="toggleFadeMenu()"   [style.color]="color4" [class.active-about]="activeProjects" routerLink="/#my-portfolio"   onclick="location.href='#my-portfolio'"     (click)="closeMenu('projects')">Portfolio</a>
            <a  (click)="toggleFadeMenu()"   [style.color]="color5" [class.active-about]="activeContact" routerLink="/#my-contact"      onclick="location.href='#my-contact'"       (click)="closeMenu('about')">Contact</a>

            <!-- //test -->
            
        </div>
    </div>
</header>