.work_one_container {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
  .my_work_headliner {
    h2 {
      font-size: 4.5rem;
      font-weight: 700;
      color: #5988ff;
    }
    p {
      padding-bottom: 4rem;
    }
  }
  .pic_text_container {
    display: flex;
    gap: 4rem;
    align-items: center;
    flex-direction: row-reverse;
    .my_work_img {
      width: 30rem;
      height: 20rem;
      border-radius: 0.2rem;
      box-shadow: 6px -2px 28px -1px var(--color-green);
      transition: ease-in-out 1s;
      cursor: pointer;


      &:hover {
        transition: ease-in-out 1s;
        scale: 1.1;
        box-shadow: 6px -2px 28px -1px var(--color-purple);
      }
    }
    .work_one_text {
      width: 510px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      .h3 {
        font-size: 2.5rem;
        color: var(--color-purple);
      }
      .tech_stack {
        font-size: 1.5rem;
        color: var(--color-green);
      }
      .work_one_desc {
        font-size: 1rem;
        color: rgb(255, 255, 255);
      }
      .project-buttons {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 86px;

        .btn-livetest {
          font-size: 1rem;
          border: 0;
          border-radius: 0.5rem;
          background-color: var(--color-purple);
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 15px 30px;
          gap: 10px;
          cursor: pointer;
          color: white;
          transform-origin: 50% 0%;
          transition: 0.3s ease-in-out;

          &:hover {
            background-color: var(--color-green);
          }
        }

        .btn-github {
          font-size: 1rem;
          border: solid var(--color-green);
          border-radius: 0.5rem;
          background-color: transparent;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 15px 30px;
          gap: 10px;
          cursor: pointer;
          color: white;
          transform-origin: 50% 0%;
          transition: 0.3s ease-in-out;

          &:hover {
            background-color: var(--color-green);
          }
        }
      }
    }
  }
}

@media (max-width: 1100px) {
  .work_one_container {
    margin-top: 4rem;
  }
  .pic_text_container {
    display: flex;
    flex-direction: column !important;
    gap: 0rem !important;
    align-items: center;
    .my_work_img {
      
      width: 25rem !important;
      height: 15rem !important;
      border-radius: 1rem;
    }
    .work_one_text {
      .h3 {
        margin-top: 2rem;
        font-size: 2rem !important;
        color: var(--color-purple);
      }
      .tech_stack {
        font-size: 1.5rem !important;
        color: var(--color-green);
      }
      .work_one_desc {
        font-size: 1rem;
        color: rgb(255, 255, 255);
        margin-left: 1rem;
      }
    }
  }
}

@media (max-width: 1100px) {
  .pic_text_container {
    display: flex;
    flex-direction: column;
    gap: 0rem !important;
    align-items: center;
    .my_work_img {
      width: 25rem !important;
      height: 15rem !important;
      border-radius: 1rem;
    }
    .work_one_text {
      .h3 {
        margin-top: 2rem;
        font-size: 2rem !important;
        color: var(--color-purple);
      }
      .tech_stack {
        font-size: 1.5rem !important;
        color: var(--color-green);
      }
      .work_one_desc {
        text-align: center;
        font-size: 1rem;
        color: rgb(255, 255, 255);
        margin-left: 1rem;
      }
    }
  }
}

@media (max-width: 500px) {
  .pic_text_container {
    display: flex;
    flex-direction: column;
    gap: 0rem !important;
    align-items: center;
    .my_work_img {
      width: 19.75rem !important;
      height: 12.5rem !important;
      border-radius: 1rem;
    }
    .work_one_text {
      width: 80% !important;
      .h3 {
        margin-top: 2rem;
        font-size: 2rem !important;
        color: var(--color-purple);
      }
      .tech_stack {
        text-align: center;

        font-size: 1rem !important;
        color: var(--color-green);
      }
      .work_one_desc {
        text-align: center;
        font-size: 1rem;
        color: rgb(255, 255, 255);
        margin-left: 0rem;
      }
    }
  }
  .btn-livetest {
    padding: 11px !important;
  }

  .btn-github {
    padding: 11px !important;
  }
}
