.skills-container
{
    
    
    height: 70vh;
    //width: 100vw;
    //max-width: 100%;
    overflow: hidden;
    position: relative;
    font-family: Poppins-M;
    display: flex;
    

   .skills-left
   {
    width: 60%;
    padding-top: 3%;
    display: flex;
    padding-left:4%;
    

    table 
    {
        width: 80%;
        td 
        {
            .icon-skill
            {
                display: flex;
                flex-direction: column;
                color: white;
                align-items: center;
                cursor: pointer;

                
                img 
                {
                    object-fit: contain;
                    height: 3rem;
                }
            }
        }
    }

    
   
    
   }

   .skills-right
   {
    width: 40%;
    padding-top: 4%;
    color: white;
    

    h1 
    {   
        font-size: 5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        img 
        {
            object-fit: contain;
            width: 60%;
        }
    }

   
    button 
        {
            font-size: 1.7rem;
            margin-top: 20%;
            border: 0;
            border-radius: 0.5rem;
            background-color: var(--color-green);
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 15px 30px;
            gap: 10px;
            cursor: pointer;
            color: white;
            transform-origin: 50% 0%;
            transition: 0.3s ease-in-out;
            z-index: 99;

            &:hover
            {
                background-color: var(--color-purple);
                transform:  scale( 1.2);
                transform-origin:top left;
                transition: 0.3s ease-in-out;

            }
        }
   }

   

}