.skills-container
{
    
    
    //height: 70vh;
    //width: 100vw;
    //max-width: 100%;
    overflow: hidden;
    position: relative;
    font-family: Poppins-M;
    display: flex;
    margin-top: 1rem;
    

   .skills-left
   {
    width: 60%;
    padding-top: 6%;
    display: flex;
    padding-left:4%;
    

    table 
    {
        width: 80%;
        
       
        td 
        {
            padding: 2rem;
            .icon-skill
            {
                display: flex;
                flex-direction: column;
                color: white;
                align-items: center;
                cursor: pointer;

                
                img 
                {
                    object-fit: contain;
                    height: 2.5rem;
                }
            }
        }
    }

    
   
    
   }

   .skills-right
   {
    width: 40%;
    padding-top: 3rem;
    color: white;
   

    h1 
    {   
        font-size: 5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        img 
        {
            object-fit: contain;
            width: 60%;
        }
    }

   
    button 
        {
            font-size: 1rem!important;
            margin-top: 10%;
            border: 0;
            border-radius: 0.5rem;
            background-color: var(--color-green);
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 15px 30px;
            gap: 10px;
            cursor: pointer;
            color: white;
            transform-origin: 50% 0%;
            transition: 0.3s ease-in-out;
            z-index: 2;

            &:hover
            {
                background-color: var(--color-purple);
                transform:  scale( 1.2);
                transform-origin:top left;
                transition: 0.3s ease-in-out;

            }
        }
   }

   

}


@media (min-width: 900px)
{
    .hide-min
    {
        display: none;
    }
}
@media (max-width: 900px)
{

    .hide 
    {
        display: none!important;
    }

    .responsive-btn
    {
        font-size: 1rem;
        margin-top: 10%;
        margin-bottom: 5%;
        align-self: center;
        
        border: 0;
        border-radius: 0.5rem;
        background-color: var(--color-green);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 15px 30px;
        gap: 10px;
        cursor: pointer;
        color: white;
        transform-origin: 50% 0%;
        transition: 0.3s ease-in-out;
       
        &:hover
        {
            background-color: var(--color-purple);
            transform:  scale( 1.2);
            transform-origin:top left;
            transition: 0.3s ease-in-out;
        }
    }
    .skills-container
    {
        
        
        
        overflow: hidden;
        position: relative;
        font-family: Poppins-M;
        display: flex;
        flex-direction: column-reverse;
        margin-top: 0rem!important;
        
    
       .skills-left
       {
        width: 90vw!important;
        padding-top: 6%;
        display: flex;
        padding-left:0%!important;
        
    
        table 
        {
            width: 100%;
            padding-left: 3%;
           
            td 
            {
                padding: 0rem!important;
                padding-top: 5%!important;
                .icon-skill
                {
                    display: flex;
                    flex-direction: column;
                    color: white;
                    align-items: center;
                    cursor: pointer;
    
                    
                    img 
                    {
                        object-fit: contain;
                        height: 2.5rem;
                    }
                }
            }
        }
    
        
       
        
       }
    
       .skills-right
       {
        width: 100vw!important;
        padding-top: 0rem!important;
        color: white;
        display: flex;
        flex-direction: column;
        text-align: center;
        
        span 
        {
            width: 80%;
            align-self: center;
        }
        h1 
        {   
            font-size: 3rem;
            margin-left: 10%;
            display: flex;
            align-items: center;
            justify-content: space-between;
    
            img 
            {
                object-fit: contain;
                width: 60%;
            }
        }
    
       
        button 
            {
                font-size: 1.7rem;
                margin-top: 10%;
                align-self: center;
                
                border: 0;
                border-radius: 0.5rem;
                background-color: var(--color-green);
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 15px 30px;
                gap: 10px;
                cursor: pointer;
                color: white;
                transform-origin: 50% 0%;
                transition: 0.3s ease-in-out;
                z-index: 2;
    
                &:hover
                {
                    background-color: var(--color-purple);
                    transform:  scale( 1.2);
                    transform-origin:top left;
                    transition: 0.3s ease-in-out;
    
                }
            }
       }
    
       
    
    }
    
}