<div class="portfolio-container">
    
    <div data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine" class="portfolio-head">
        <h1> <img class="line" src="assets/img/icons/LINE 1.png" alt="">  Portfolio</h1>
    </div>


    <div class="project-container">

        <img class="purple-bg-left" src="../../assets/img/bg/Purple shadow footer v1 and portfolio section.png" alt="">
        <img class="green-bg-right" src="../../assets/img/bg/Green shadow 2.png" alt="">

        <app-portfolio-project  data-aos="flip-left"
     data-aos-easing="ease-out-cubic"
     data-aos-duration="2000"></app-portfolio-project>
        <app-portfolio-project-mirror  data-aos="flip-right"
     data-aos-easing="ease-out-cubic"
     data-aos-duration="2000"></app-portfolio-project-mirror>
        <app-portfolio-project-two  data-aos="flip-left"
     data-aos-easing="ease-out-cubic"
     data-aos-duration="2000"></app-portfolio-project-two>
        <app-portfolio-project-mirror-two  data-aos="flip-right"
     data-aos-easing="ease-out-cubic"
     data-aos-duration="2000"></app-portfolio-project-mirror-two>
        

    </div> 

</div>



