.portfolio-container
{
    
    position: relative;
    margin-left: 2rem;
    margin-right: 2rem;
   

    .portfolio-head
    {
        font-family: Poppins-M;
        display: flex;
        align-items: center;
        margin-top:50px;
        position: relative;
        

    
        h1 
        {   
            color: white;
            font-size: 5rem;
            display: flex;
            align-items: center;
            
            
            
            img     
            {
                object-fit: contain;
                width:17%;
                margin-right: 2rem;
            }
        }
   
    }

    .project-container
    {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* padding-left: 10%;
        padding-right: 10%; */

        .purple-bg-left
        {
            position: absolute;
            left: -18rem;
            top: 37rem;
            z-index: -2;
            object-fit: contain;
            height: 600px;
            

        }
        .green-bg-right
        {
            position: absolute;
            right: -2rem;
            bottom:-9rem;
            object-fit: contain;
            height: 600px;
            z-index: -2;


        }
    }


}

