<div class="work_one_container">
   
    
    <div class="pic_text_container">
        <div class="work_one_pic">
            <!-- Image (Screenshot)-->
            <img class="my_work_img" src="assets/img/bg/myportfolio.png">
        </div>
        <div class="work_one_text">
           <span class="h3"> My Portfolio</span>
            <p class="tech_stack">Angular | TypeScript | HTML | SCSS </p>
            <p class="work_one_desc">My portfolio website built with Angular.
            </p>
            <div class="project-buttons">
                <button class="btn-livetest">Live test</button>
                <button class="btn-github">Github</button>
            </div>
        </div>
    </div>
    
</div>