<div class="home-container">

    <img class="left-picture" src="assets/img/bg/Purple shadow 1.png" alt="">

    <img class="right-picture" src="assets/img/bg/Blue shadow 1 V2.png" alt="">
   
    <div data-aos="fade-down"
         data-aos-easing="linear"
         data-aos-duration="1500" class="home-content">
        <div class="hc1_hc2">
            <div class="hc1 hide">
                I am
            </div>
            <div  class="hc2">
                <span class="title-name"> Marco Will</span>
                <span class="title-skill"> <span class="blink-effect-lightBlue">FRONTEND</span> <span class="blink-effect-purple"> DEVELOPER</span></span>

            </div>
        </div>
    <Button onclick="location.href='#my-contact'"> Let's talk!</Button>

    </div>

    <div class="home-end-left">
        <img class="line" src="assets/img/icons/LINE 1.png" alt="">
        <a class="social-media-icon" href="https://github.com/Marco-Will" target="_blank"> <img src="assets/img/icons/git-footer.png" alt=""></a>
       <a class="social-media-icon" href="mailto:birdscur@outlook.de"> <img src="assets/img/icons/mail.png" alt=""></a>
       <a class="social-media-icon" href=""> <img src="assets/img/icons/linkd.png" alt=""></a>
    </div>

    <div class="home-end-right hide">
        <div>
           <a href="#about-me"> <p>Scroll down <img src="assets/img/icons/arrow_down.png" alt=""></p></a>
        </div>
        
    </div>
</div>
