<div class="home-container">

    <img class="left-picture" src="assets/img/bg/Purple shadow 1.png" alt="">

    <img class="right-picture" src="assets/img/bg/Blue shadow 1 V2.png" alt="">
   
    <div class="home-content">
        <div class="hc1-hc2">
            <div class="hc1">
                I am
            </div>
            <div class="hc2">
                <span class="title-name"> Marco Will</span>
                <span class="title-skill"> FRONTEND DEVELOPER</span>
            </div>
        </div>

        <Button> Let's talk!</Button>
    </div>

    <div class="home-end-left">
        <img class="line" src="assets/img/icons/LINE 1.png" alt="">
        <img class="social-media-icon" src="assets/img/icons/git-footer.png" alt="">
        <img class="social-media-icon" src="assets/img/icons/mail.png" alt="">
        <img class="social-media-icon" src="assets/img/icons/linkd.png" alt="">
    </div>

    <div class="home-end-right">
        <div>
            <p>Scroll down <img src="assets/img/icons/arrow_down.png" alt=""></p>
        </div>
        
    </div>
</div>
